.slider{
  position: relative;
  width: 100%;
  height: auto;
  max-height: 750px;
  overflow: hidden;
}
.slides{
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
}
.slide-item{
  opacity : 0;
  transition: all 1s;
}
.slide-item.active-slide{
  width: 100%;
  display: block;
  opacity: 1;
}
.slide-item img{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto;
}
.slide-item.active-slide img{
  position: static;
  width: 100%;
  height: auto;
}
.slider .labels{
  display: flex;
  position: absolute;
  bottom: 10px;
  left: calc(50% - 55px);
}
.slider .labels span{
  width: 20px;
  height: 5px;
  background-color: #fff;
  cursor: pointer;
  margin-left: 10px;
}
.slider .labels span.current-slide{
  background-color: orange;
}
.slider .btn{
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  width: 10%;
  height: 100%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  z-index: 10;
}
.slider .btn-right{
  right: 0;
}
.slider .btn-left .arrow-left, .slider .btn-right .arrow-right{
  position: absolute;
  top: calc(50% - 30px);
  padding: 5px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-position: center center
}
.slider .btn-left .arrow-left{
  left: 10px;
}
.slider .btn-right .arrow-right{
  right: 10px;
}

@media screen and (max-width: 991px){
  .slider .btn-left .arrow-left, .slider .btn-right .arrow-right{
    top: calc(50% - 8px);
    width: 16px;
    height: 16px;
  }
  .slider .btn-left .arrow-left{
    background-position: 0 50%;
  }
  .slider .btn-right .arrow-right{
    background-position: 100% 50%;
  }
  .slider .labels{
    display: flex;
    position: absolute;
    bottom: 10px;
    left: calc(50% - 35px);
  }
  .slider .labels span{
    width: 10px;
    margin-left: 5px;
  }
}