td{
	width: calc(100% / 7);
	height: auto;
}
td img {
	width: 100%;
}
td a{
	display: block;
	border: 1px solid black;
	padding: 5px;
	text-align: center;

}
tr:nth-child(even) td:nth-child(odd){
	background: #ccc;
}
tr:nth-child(odd) td:nth-child(even){
	background: #ccc;
}

