.film{
    background-color: #1d0d0d;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.film .img-box {
    width: 350px;
    height: 450px;
    margin-top: 50px;
}

.descr-box {
    margin-top: 100px;
}
 .title-stl {
     text-align: center;
     margin-top: 20px;
 }

 .rate-txt {
     text-align: center;
 }
