.film-box-holder {
  padding: 25px 30px 15px 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  vertical-align: baseline;
  width: 100%;
  height: 100%;
}
.parallax {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
.parallax::after {
  content: '';
  transform: translateX(-1px) translateY(4px) scaleY(1.1);
  background-image: url("../img/Webp.net-compress-image.jpg");
  background-color: black;
  z-index: -1;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: -28px;
  background-size: cover;
  background-attachment: fixed;
  background-clip: content-box;
  background-position: bottom;
  background-repeat: no-repeat;

}
.actual {
  box-sizing: border-box;
  text-align: center;
  background-color: rgb(236, 234, 234, 0.8);
  width: 100%;
  color: rgb(5, 5, 5);
  font-weight: 800;
}
.film-box {
  margin: 0 10px 20px 10px;
  width: 14%;
  border: 1px solid rgb(214, 214, 214);
  background-color: rgb(236, 234, 234, 0.6);
}
.film-box:hover {
  cursor: pointer;
  transform: scale(1.08);
  border: 1px solid rgb(235, 233, 233);
}

.film-box:visited {
  opacity: 0.1;
  background-color: rgb(236, 234, 234, 0.8);
}
.title-link:hover {
  text-decoration: none;
  text-decoration-color: transparent;
}

.img-box {
  width: 100%;
  height: 240px;
  border-bottom: 1px solid rgb(214, 214, 214);
}

.film-info{
  width: 100%;
  margin: 1.5%;
  color: black;
  font-size: 90%;
  text-align: center;
}

.film-name {
  margin:0;
  font-weight: 700;
}
.film-raiting {
  line-height:0;
  color: rgb(68, 67, 67);
}
.btn-all-film {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
}
.btn-film {
  width: 150px;
  padding: 6% 0;
  border:2px solid #e67300;
  border-radius: 4%;
  background: #2a2e33;
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.btn-film:hover{
  cursor: pointer;
  background: linear-gradient(#2a2e33,#693500);
  border-color: rgb(199, 199, 199);
}
.btn-film:active{
  background: linear-gradient(#2a2e33,#bd5f02);
  border-color:#e67300;
}
.btn-film:focus {
  outline: 0;
  background: linear-gradient(#2a2e33,#693500);
}
@media only screen and (max-width: 600px) {
.film-box-holder {
  padding: 3% 1% 0 3%;
 }
.parallax::after {
  transform: scale(1);
}
.actual {
  font-size: 100%;
}
.film-box {
  width: 47%;
  height: auto;
  margin:1%;
 }
 .film-box:hover {
   transform: scale(1);
 }
.img-box {
  width: 100%;
  /* height: 88%; */
  height: auto;
}
.film-info {
  font-size: 85%;
}
.btn-film {
  width: 180px;
  margin-bottom: 25%;
}
}
@media only screen and (max-width: 840px) and (min-width: 601px) {
.film-box-holder {
  margin-right: 3%;
}
.parallax::after {
  transform: scale(1);
}
.film-box {
  width:28%;
}
 .film-box:hover {
   transform: scale(1.03);
 }
.img-box {
  width: 100%;
  height: auto;
}
.btn-film {
  width: 180px;
  margin-bottom: 25%;
}

}
@media only screen and (max-width: 1000px) and (min-width: 841px) {
.film-box-holder {
  margin-right: 3%;
}
.parallax::after {
  transform: scale(1);
}
.film-box {
  width:20%;
  margin: 1% 2%;
}
.img-box {
  width: 100%;
  height: auto;
}
.btn-film {
  width: 180px;
  margin-bottom: 25%;
}
}
@media only screen and (max-width: 1325px) and (min-width: 1001px) {
.film-box {
  width:16%;
  margin: 1% 2%;
}
.parallax::after {
  transform: scale(1);
}
.img-box {
  width: 100%;
  height: auto;
}
.btn-film {
  width: 180px;
  margin-bottom: 25%;
}
}