  body {
    background-color: #FFCC00;
    margin: 0;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
 
  
  ul.navbar-nav li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    display: block;
    
  }

  ul.navbar-nav li.nav-item {
    padding: 10px;
  }
  .content {
    background-color: #FFF;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }

  .nav-item a.active {
    background-color: grey;
  }

  .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
  }