  body {
    margin: 0;
    font-family: 'Lato';
    background-color: rgb(78, 72, 72);
  }

  h1, h2, p, ul, li {
    font-family: 'Lato';
  }

  ul.navbar-nav li a {
    color: #E9F4C6;
    font-weight: 200;
    letter-spacing: 1px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    padding: 10px
  }

  .navbar {
  background-color: #2B3035;
  padding: 0 !important;
  }

  .navbar-brand{
    margin: 0 40px;
    color: #E9F4C6;
  }

  .navbar-dark .navbar-brand:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
    color: #ECA400;
  }

  .navbar-collapse {
    margin-left: 50%;
  }

  .nav-item {
    margin-left: 5px;
  }

  .nav-item a {
    padding: 14px 20px 14px 15px;
  }

  .nav-item a:hover{
   color: rgb(255, 209, 6);
 }

  .content li {
    margin-bottom: 5px;
  }

  .nav-item a.active {
    color: #ECA400;
  }


/* Footer styles */

.myFooter {
  background-color: #2B3035;
  color: white;
  padding-top: 20px;
  border:  1px solid rgb(56, 62, 68);
}

.map-container {
  height: 240px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.myFooter .row {
  margin: 0 25px;
  text-align: center;
}

.myFooter .row h5 {
  margin: 0 25px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}
.myFooter .row li {
  margin-top: 5px;

}

.myFooter .footer-copyright {
  background-color: #192F38;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
}

.myFooter .footer-copyright p {
  color: #ccc;
  margin-top: 16px;
}

.myFooter .container {
  width: 60%;
  margin:0 20%;
}

.myFooter ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
}

.myFooter h5 {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
  font-weight: 200;
}

.myFooter a {
  color: #d2d1d1;
  text-decoration: none;
  font-weight: 200;
}

.myFooter a:hover,
.myFooter a:focus {
  text-decoration: none;
  color: white;
}

.myFooter .social-networks {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 38px;
}

.myFooter .fa {
  font-size: 30px;
  margin-right: 15px;
  margin-left: 20px;
  background-color: white;
  color: #2B3035;
  border-radius: 51%;
  padding: 10px;
  height: 50px;
  width: 52px;
  text-align: center;
  line-height: 31px;
  text-decoration: none;
  transition: color 0.2s;
}

.myFooter .fa-facebook:hover,
.myFooter .fa-facebook:focus {
  color: #044383;
}

.myFooter .fa-google-plus:hover,
.myFooter .fa-google-plus:focus {
  color: #e44100;
}

.myFooter .fa-twitter:hover,
.myFooter .fa-twitter:focus {
  color: #2290ff;
}

.map-desc {
  color: rgb(121, 34, 39);
  display: block;
  width: 100px;
  font-weight: 900;
  background-color: white;
  font-size: 14px;
}

@media (min-width: 992px) and (max-width:1300px) {
  #navbarTogglerDemo03 {
    position: relative;
    right: 25%;
  }
}


@media screen and (max-width: 767px) {
  .myFooter {
      text-align: center;
  }
  .myFooter .row {
      margin: 0;
  }
}
