.cinema-holl {
 background:#10222e;
  height: 100%;
}
.cinema-img-box {
  background: black;
}
.cinema-img {
  width:100%;
  height: 80vh;
  margin: 0;
  background-position: left;
  z-index: 1;
  position: relative;
  opacity: 0.6;
}
.cinemaholl-name{
  position: absolute;
  z-index: 2;
  top: 34%;
  left:2%;
  right: 2%;
  bottom: 40%;
  color:white;
  font-size: 5.5em;
  text-align: center;
  letter-spacing: 0.1rem;
  font-weight: 600;
}
.cinemaholl-street {
  position: absolute;
  z-index: 2;
  top:73%;
  right: 2%;
  left:75%;
  bottom: 0;
  color: white;
  font-size: 1.3em;
}
.description-btn, .technology-btn, .btn-back-to-cinema{
  background:#10222e;
  padding: 6px;
  border: none;
  text-align: center;
  margin: 0 auto;
  width:100%;
  cursor: pointer;
}
.technology-btn, .description-btn {
  font-size: 1.5em;
  color: white;
  font-weight: 700;
}

.technology-btn:hover, .description-btn:hover{
  cursor: pointer;
  background: none;
  color: #FFBF40;
  outline: 0;
}
.technology-btn:focus, .description-btn:focus, .btn-back-to-cinema:focus {
  outline: 0;
  outline-color: none;
}
.btn-back-to-cinema {
  padding-top: 30px;
  opacity: 0.6;
  background: none;
}

.technology-btn:active {
  color: #FFBF40;
}
.description-box, .technology-box {
  color: white;
  padding: 0 30px;
  text-indent: 20px;
  line-height: 1.4;
  letter-spacing: 1.1;
  text-align: justify;
}

@media only screen and (max-width:600px) {
  .cinemaholl-name {
    font-size: 3em;
    top:50%;
  }
  .cinemaholl-street {
    left:35%;
    top: 75%;
  }
}
@media screen and (max-width:1100px) and (min-width:601px) {
  .cinemaholl-name {
    font-size: 4em;
    top: 43%;
  }
  .cinemaholl-street {
    top: 80%;
    left:45%;
  }
  .seans {
    text-align: center;
    padding: 1%;
    letter-spacing: 0.1rem;
  }
}